
*.iml
.idea/*
profesor/__pycache__/server.cpython-38.pyc
mess/__pycache__/gui.cpython-38.pyc
mess/__pycache__/threded_listener.cpython-38.pyc
profesor/__pycache__/server_thread.cpython-38.pyc
student/__pycache__/attendance.cpython-38.pyc
mess/__pycache__/threded_loader_test_phase.cpython-38.pyc
mess/__pycache__/check_ip_thread.cpython-38.pyc
profesor/__pycache__/server.cpython-37.pyc
profesor/__pycache__/server_thread.cpython-37.pyc
